@(Html.Kendo().DatePicker()
                            .Name("EndDate")
                            .Value("#=EndDate#")

                            .HtmlAttributes(new { style = "width: 60%", title = "Select End Date", @required = "required" })
                           .Format("dd MMM yyyy")
)

<button type="button" class="btn" style="background-color: #00664E;color: white;" onclick="GetProjectEndDate(); return false;">Default</button>