@(Html.Kendo().DatePicker()
                .Name("StartDate")
                .Value("#=StartDate#")
                .Events(e =>
                {
                    e.Change("onMemberStartDateChange").Open("onMemberStartDateOpen").Close("onMemberStartDateClose");
                })
                .HtmlAttributes(new { style = "width: 60%", title = "Select Start Date", @required = "required" })
               .Format("dd MMM yyyy")
)
<button type="button" class="btn" style="background-color: #00664E; color: white;" onclick="GetProjectStartDate(); return false;">Default</button>